<div id="secondParallax">
  <div id="console">
    <div id="consoleHeader">

    </div>
    <div id="consoleBody">
      <span id="consoleText">
        >>> Zach.location<br>
        'Berkeley, CA'<br>
        <br>
        >>> Zach.education<br>
        {'school' : 'Univeristy of California, Berkeley', 'gpa' : 3.7, 'expectedGraduation' : 'May 2020', "major" : "Computer Science"}<br> 
        <br>
        >>> Zach.interests<br>
        '["Artificial Intelligence", "Data Science", "Efficient Algorithms", "Weightlifting", "Triathalons", "Entrepreneurship"]'
        <br>
        <br>
        >>> Zach.email<br>
        'zachchao@berkeley.edu'<br>
        <br>
        >>> Zach.resume<br>
        <a href='#pdfModal' data-toggle='modal'> resume.pdf</a><br>
        <br>
        >>>
      </span>
    </div>
  </div>
</div>