<div id="fourthParallax">
  <div class="container">
    <!-- Double for loop through json object to make the cards -->
    {% for row in experienceData | batch(2)%}
    <div class="row">
      {% for card in row %}
      <div class="col-lg-6">
        {% if card['href'] != "" %}
        <a href={{ card['href'] }}>
        {% endif %}
          <div class="card">
            {% if card['href'] != "" %}
            <div class="corner-ribbon">Click Me!</div>
            {% endif %}
            <img class="card-img-top" src={{ card['image_url'] }} alt="Card image cap">
            <div class="card-body" style="padding-bottom: 0px;">
              <h5 class="card-title">{{ card['title'] }}</h5> 
              <h5 class="card-title-hidden">{{ card['title'] }}</h5>
              <p class="card-text">{{ card['description'] }}</p>
              <p style="float: right; color: #BDC3C7; font-size: 18px;" class="card-note">Hover for more</p>
            </div>
            <div class="card-footer">
              {% for tag in card['tags'] %}
              <span class="card-tag">{{tag}}</span>
              {% endfor %}
            </div>
          </div>
        {% if card['href'] != "" %}
        </a>
        {% endif %}
      </div> 
      {% endfor %}
    </div>
    {% endfor %}
  </div>
</div>